/* --------------------- Department Sidebar --------------------- */

.department-sidebar {
  padding: 1.25rem;
}

.department-sidebar article {
  margin-bottom: 1.25rem;
  border: 0.0625rem solid #ddd;
  padding: 0.9375rem;
  border-radius: 0.3125rem;
  transition: box-shadow 0.3s ease;

}

.department-sidebar article:hover {
  box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
}

.department-sidebar h3 {
  color: var(--main-color);
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
}

.department-sidebar p {
  font-size: 0.875rem;
  line-height: 1.6;
  color: #666;
  margin-bottom: 0.625rem;
}

/* --------------------- Admin --------------------- */

#administration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2.5rem;
}

#administration .category {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.category {
  margin-bottom: 1.875rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.3125rem;
  padding: 0.9375rem;
  box-shadow: 0rem 0.0625rem 0.3125rem rgba(0, 0, 0, 0.1);
}


.category .title h3 {
  margin: 0;
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 1.125rem;
}

.category .content {
  list-style: none;
  padding: 0;
}

.category .content li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.625rem;
  border-bottom: 0.0625rem solid #ddd;
  padding-bottom: 0.625rem;
}

.category .content li:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.category .edit-button, .category .remove-button {
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.category button > i {
  color: #000;
  font-size: 2rem;
}

.category .admin-item > p {
  font-size: 1.5rem;
}

.category .title .button {
  margin: 0 0.5rem;
  padding: 0.3125rem 0.625rem;
  border: none;
  border-radius: 0.1875rem;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.admin-item .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.category>.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Styling for dialog boxes */

dialog {
  border: none;
  border-radius: 1rem;
  padding: 2rem 0rem;
}

dialog form {
  display: flex;
  padding: 1.2rem 0.8rem;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
  color: var(--main-color);
  font-weight: 400;
}

dialog form input {

  padding: 0.6rem 1.25rem;
  border: 0.0625rem solid var(--main-color);
  margin: 3rem 3rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}

dialog form label, dialog form > p {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  max-width: 70%;
}

dialog .button-group {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

dialog form button {
  padding: 0.6rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

dialog button[type=submit] {
  background-color: var(--main-color);
  color: #fff;
}

dialog button[type=submit]:hover {
  background-color: var(--main-color);
}

dialog button[type=button] {
  background-color: #A31717;
  color: #fff;
}

dialog button[type=button]:hover {
  background-color: #5a6268;
}