#tickets-search {
  height: 100%;
  overflow-y: hidden;
  display: grid;
  grid-template-rows: [start] auto [middle] 60vh [end];
}

#tickets-search #tickets {

  grid-row: middle / end;

  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#tickets-search #tickets::-webkit-scrollbar {
  display: none;
}

figure.avatar img {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
}

.profile-img {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  padding: 5%;
  object-fit: cover;
}

.right-sidebar h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

#filter-tab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

#filter-tab>.filter-dropdown {
  background-color: #fff;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3rem;
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  transition: border 0.3s ease-in-out;
  box-shadow: 0 0.1875rem 0.625rem rgb(0 0 0 / 0.2);
}

#filter-tab>.filter-dropdown:hover {
  border: 0.0625 solid #000;
}

#filter-tab>.filter-dropdown:focus {
  border: 0.0625 solid #000;
}

#filter-tab>.filter-dropdown>option {
  background-color: #f8f7fc;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: 0;
  list-style-type: none;
  max-width: 100%;
}

.tags .tag {
  background-color: #eae6ff;
  border: 0.0625rem solid var(--main-color);
  padding: 0.3rem 0.5rem;
  border-radius: 90rem;
  color: var(--main-color);
  margin: 0.5rem;
}

.tag button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 0rem;
  font-size: 1rem;
  color: var(--main-color);
  transition: color 0.3s ease-in-out;
}

.tags-searchbar {
  display: grid;
  grid-template-columns: [start]5fr [middle] 1fr [end];
  grid-template-rows: [start] 1fr [middle] auto [end];
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

#tag-creator {
  grid-column: start / middle;
  grid-row: start / middle;
}

#search-button {
  grid-column: middle / end;
  grid-row: start / middle;
  margin-left: 2rem;
}

#auto-complete {
  grid-column: start / middle;
  grid-row: middle / end;
  z-index: 3;
  list-style: none;
  margin: 0;
  padding: 0;
}

#auto-complete>li {

  background-color: white;
  color: var(--main-color);
  padding: 0.6rem;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 0.0625rem;
  border-color: var(--main-color);
}

#auto-complete>li:hover {
  background-color: #846cff;
  transition: background-color 0.3s ease-in-out;
  color: white;
  cursor: pointer;
}

#auto-complete>li:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-top-style: solid;
}

#auto-complete>li:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-style: solid;
}

.tags-box {
  flex: 1;
  border: 0.0625 solid #d8d8d8;
  border-radius: 1rem;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s ease-in-out;
  box-shadow: 0 0.1975rem 0.625rem rgb(0 0 0 / 0.2);
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin: 0;
}

.tags-box #tag-input {
  display: flex;
  background-color: transparent;
  flex: 1;
  margin: 0.75rem 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  margin-right: 0.5rem;

}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  color: var(--main-color);
}

.ticket-container {
  margin: 3rem 8rem;
}

.ticket-card {
  box-shadow: 0rem 0.3125rem 0.4375rem 0.3125rem rgb(0 0 0 / 10%);
  border-radius: 0.6rem;
}

.ticket-card.dash {
  padding: 0.5rem 1.5rem;
  background-color: white;
}

.ticket-card.dash:first-child {
  margin-top: 5rem;
}

.manage-ticket {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.ticket-card.brief {
  margin: initial;
  padding: 0.2rem 1rem;
}

.ticket-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--main-color);
  align-items: center;
  justify-content: center;
}

.ticket-card h3 a,
.ticket-card h3 a:visited,
.ticket-card h3 a:hover,
.ticket-card h3 a:active {
  text-decoration: none;
  color: var(--main-color)
}

.ticket-card p {
  line-height: 1.7rem;
  word-break: break-word;
}

.id-tag {
  background-color: #ECECEC;
  border: 0.0625rem solid #7E7E7E;
  padding: 0.3rem 0.5rem;
  border-radius: 90rem;
  color: #202020;
  margin: 0 0.5rem;
}

.status-tag {
  background-color: #F0F9F2;
  border: 0.0625rem solid #6DC580;
  padding: 0.3rem 0.5rem;
  border-radius: 90rem;
  color: #03781D;
  margin: 0 0.5rem;
}

.priority-tag {
  background-color: #FFF3F3;
  border: 0.0625rem solid #E0B1B1;
  color: #A31717;
  padding: 0.3rem 0.5rem;
  border-radius: 90rem;
  margin: 0 0.5rem;
}

.profile {
  display: flex;
  flex-direction: column;
  padding: 3rem 4rem;
  border-radius: 1rem;
  background-color: #fff;
  justify-content: center;
  text-align: center;
}

#profile-info {
  display: none;
}

#profile-info.active {
  display: flex;
  flex-direction: column;
}


#profile-info.active>#name-info {
  font-size: 2.2rem;
  color: var(--main-color);
}

#profile-info.active>#email-info {
  font-size: 1.rem;
  color: #303030;
}

#role-info {
  background-color: #FFF3F3;
  border: 0.0625rem solid #E0B1B1;
  color: #A31717;
  padding: 0.5rem 1rem;
  border-radius: 90rem;
  text-align: center;
}

#edit-profile {
  display: none;
}

#edit-profile.active {
  display: flex;
  flex-direction: column;
}

.edit-profile-img {
  display: block;
  margin: 0 auto;
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0rem 0.3125rem 0.4375rem 0rem rgb(0 0 0 / 10%);
}

#edit-profile>form {
  display: flex;
  flex-direction: column;
}

#edit-profile>form:not(.active) {
  display: none;
}

#edit-profile button {

  font-size: 1rem;
}

#edit-profile input,
#edit-profile select {
  max-width: 70%;
  margin: 0.5rem auto;
}

#edit-profile input {
  border-radius: 90rem;
  color: #202020;
  /*border: 0.625rem solid #d8d8d8;*/
  border: 0.0625rem solid #d8d8d8;
  background-color: #f3f4f6;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s ease-in-out;
  box-shadow: 0 0.1875rem 0.625rem rgb(0 0 0 / 0.2);
  box-sizing: border-box;
}


#edit-profile input:hover {
  border: 0.0625rem solid var(--main-color);
}

#edit-profile input:focus {
  outline: none;
  border: 0.0625rem solid var(--main-color);
}

#edit-profile select {
  border-radius: 90rem;
  color: #202020;
  border: 0.0625rem solid #d8d8d8;
  background-color: #f3f4f6;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s ease-in-out;
  box-shadow: 0 0.1875rem 0.625rem rgb(0 0 0 / 0.2);
  width: fit-content;
}

#role-editor:hover {
  border: 0.0625rem solid var(--main-color);
}

#edit-profile button {
  text-align: center;
  align-self: center;
  justify-content: center;
  margin: 0.5rem auto;
}

.edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#change-password-button {
  display: none;
}

#change-password-button.active {
  display: block;
}

#password-editor {
  display: none;
  margin-top: 1.5rem;
}

#password-editor.active {
  display: flex;
  flex-direction: column;
}

.right-sidebar> :first-child {
  margin-top: 1rem;
}

.right-sidebar> :last-child {
  margin-bottom: 1rem;
}

#administration .category {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}/* Styling for dialog boxes */

dialog {
  border: none;
  border-radius: 1rem;
  padding: 2rem 0rem;
}

dialog form {
  display: flex;
  padding: 1.2rem 0.8rem;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
  color: var(--main-color);
  font-weight: 400;
}

dialog form input {

  padding: 0.6rem 1.25rem;
  border: 0.0625rem solid var(--main-color);
  margin: 3rem 3rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}

dialog form label, dialog form > p {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  max-width: 70%;
}

dialog .button-group {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

dialog form button {
  padding: 0.6rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

dialog button[type=submit] {
  background-color: var(--main-color);
  color: #fff;
}

dialog button[type=submit]:hover {
  background-color: var(--main-color);
}

dialog button[type=button] {
  background-color: #A31717;
  color: #fff;
}

dialog button[type=button]:hover {
  background-color: #5a6268;
}