#ticket-changes {
  padding: 3rem;
}

.change-card {
  margin-bottom: 1.25rem;
  border: 0.0625rem solid #ddd;
  padding: 0.9375rem;
  border-radius: 0.3125rem;
  transition: box-shadow 0.3s ease;
}

.change-card:hover {
  box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
}

.change-card a {
  text-decoration: none;
  color: inherit;
}

.no-changes {
  margin: 10rem 1rem;
  text-align: center;
}

.main {
  padding: 1.25rem;
}

.change-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.change-info>p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.change-info>p {
  font-size: 1rem;
  font-weight: light;
}

.change-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.status-change {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.old {
  background-color: #FFF3F3;
  border: 0.0625rem solid #E0B1B1;
  color: #A31717;
  padding: 0.5rem;
  border-radius: 90rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 12rem;
  margin: 0.5rem 0;
}

.new {
  background-color: #F3FFF3;
  border: 0.0625rem solid #B1E0B1;
  color: #17A317;
  padding: 0.5rem;
  border-radius: 90rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 12rem; 
  margin: 0.5rem 0;
}

#ticket-changes .status-change {
  margin: 0.5rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: center;
}

#ticket-changes .new, #ticket-changes .old {
  border-radius: 0.5rem;
  margin: 0 2rem;
  white-space: normal;
}

.fa-chevron-right {
  color: var(--main-color);
  font-size: 1rem;
  padding: 0;
  margin: 0 0.5rem;
}

/* ------------------- TICKET INFO ------------------- */

.manage-ticket {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.ticket-card.brief {
  margin: initial;
  padding: 0.2rem 1rem;
}

.ticket-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--main-color);
  align-items: center;
  justify-content: center;
}

.ticket-card h3 a,
.ticket-card h3 a:visited,
.ticket-card h3 a:hover,
.ticket-card h3 a:active {
  text-decoration: none;
  color: var(--main-color)
}

.ticket-card p {
  line-height: 1.7rem;
  word-break: break-word;
}

.id-tag {
  background-color: #ECECEC;
  border: 0.0625rem solid #7E7E7E;
  padding: 0.3rem 0.5rem;
  border-radius: 90rem;
  color: #202020;
  margin: 0 0.5rem;
}

.status-tag {
  background-color: #F0F9F2;
  border: 0.0625rem solid #6DC580;
  padding: 0.3rem 0.5rem;
  border-radius: 90rem;
  color: #03781D;
  margin: 0 0.5rem;
}

.priority-tag {

  background-color: #FFF3F3;
  border: 0.0625rem solid #E0B1B1;
  color: #A31717;
  padding: 0.3rem 0.5rem;
  border-radius: 90rem;
  margin: 0 0.5rem;
}

.date {
  color: #343434;
  font-weight: 400;
  margin: 0 0.5rem;
}

.ticket-info-sidebar {
  margin: 1.5rem auto;
  padding: 1rem 2rem;
  box-shadow: 0rem 0.3125rem 0.4375rem 0.3125rem rgb(0 0 0 / 10%);
  border-radius: 0.6rem;
}

.assigned-to {
  margin: 1.5rem auto;
  padding: 1rem 2rem;
  box-shadow: 0rem 0.3125rem 0.4375rem 0.3125rem rgb(0 0 0 / 10%);
  border-radius: 0.6rem;
}

.assigned-to p {
  align-items: center;
  justify-content: center;
}

.assigned-to a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 1rem;
}

.person-card {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

figure.avatar img {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
}

.profile-img {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  padding: 5%;
  object-fit: cover;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: 0;
  list-style-type: none;
  max-width: 100%;
}

.tags .tag {
  background-color: #eae6ff;
  border: 0.0625rem solid var(--main-color);
  padding: 0.3rem 0.5rem;
  border-radius: 90rem;
  color: var(--main-color);
  margin: 0.5rem;
}

.tag button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 0rem;
  font-size: 1rem;
  color: var(--main-color);
  transition: color 0.3s ease-in-out;
}