@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


:root {
  --main-color: #3818D9;
}


.department-faqs {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.department-faqs h2 {
  color: var(--main-color);
  margin: 3rem;
}

.faq-card {
  margin: 0.6rem;
}

.faq-container {
  margin: 1rem 7rem;
}

/* ------------------ RECENT CHANGES ------------------ */

#ticket-changes {
  padding: 3rem;
}

.change-card {
  margin-bottom: 1.25rem;
  border: 0.0625rem solid #ddd;
  padding: 0.9375rem;
  border-radius: 0.3125rem;
  transition: box-shadow 0.3s ease;
}

.change-card:hover {
  box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
}

.change-card a {
  text-decoration: none;
  color: inherit;
}

.no-changes {
  margin: 10rem 1rem;
  text-align: center;
}

.change-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.change-info>p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.change-info>p {
  font-size: 1rem;
  font-weight: light;
}

.change-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.status-change {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.old {
  background-color: #FFF3F3;
  border: 0.0625rem solid #E0B1B1;
  color: #A31717;
  padding: 0.5rem;
  border-radius: 90rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 12rem;
  margin: 0.5rem 0;
}

.new {
  background-color: #F3FFF3;
  border: 0.0625rem solid #B1E0B1;
  color: #17A317;
  padding: 0.5rem;
  border-radius: 90rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 12rem; 
  margin: 0.5rem 0;
}

.fa-chevron-down {
  color: var(--main-color);
  font-size: 1rem;
  padding: 0;
  margin: 0 0.5rem;
}