@media screen and (max-width: 1200px) {

    .title {
        margin-top: 4rem;
        margin-right: 1rem;
    }

    .right-sidebar {
        display: none;
    }

    .options-right {
        display: block;
    }

    .middle-column {
        grid-column: 2/-1;
    }

    .middle-column-active,
    .right-sidebar-active {
        grid-row: 1/2;
    }

    .middle-column-active {
        grid-column: 2/5;
    }

    .right-sidebar-active {
        display: flex;
        grid-column: 3/-1;
        z-index: 897;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    }

    .right-sidebar > :first-child{
        margin-top: 5rem;
    }

}

@media only screen and (max-width: 900px) {

    .logo {
        margin-left: 2rem;
    }

    .title {
        margin-left: 2rem;

    }


    .left-sidebar {
        display: none;
    }

    .options-left {
        display: block;
    }

    .middle-column {
        grid-column: 1/-1;
    }

    .middle-column-active,
    .left-sidebar-active {
        grid-row: 1/2;
    }

    .middle-column-active {
        grid-column: 1/-1;
    }

    .left-sidebar-active {
        display: flex;
        grid-column: 1/5;
        z-index: 899;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
        height: -webkit-fill-available;
    }

    .edit-container {
        margin: 1rem 2rem
    }

    .edit-dropdown {
        left: unset;
        right: 0    
    }

    .edit-dropdown.active {
        left: unset;
        right: 0;
        top: 3.2rem;
    }

    .edit-dropdown.ticket-dropdown {
        left: unset;
        right: 0;
    }

    .edit-dropdown.ticket-dropdown.active {
        left: unset;
        right: 0;
    }

    #administration {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
    }

    #administration .title{
        margin: 1rem;
        padding: 1rem;

    }
}