.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: 0;
  list-style-type: none;
  max-width: 100%;
}

.tags .tag {
  background-color: #eae6ff;
  border: 0.0625rem solid var(--main-color);
  padding: 0.3rem 0.5rem;
  border-radius: 90rem;
  color: var(--main-color);
  margin: 0.5rem;
}

.tag button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 0rem;
  font-size: 1rem;
  color: var(--main-color);
  transition: color 0.3s ease-in-out;
}

.tags-searchbar {
  display: grid;
  grid-template-columns: [start]5fr [middle] 1fr [end];
  grid-template-rows: [start] 1fr [middle] auto [end];
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

#tag-creator {
  grid-column: start / middle;
  grid-row: start / middle;
}

#search-button {
  grid-column: middle / end;
  grid-row: start / middle;
  margin-left: 2rem;
}

#auto-complete {
  grid-column: start / middle;
  grid-row: middle / end;
  z-index: 3;
  list-style: none;
  margin: 0;
  padding: 0;
}

#auto-complete>li {

  background-color: white;
  color: var(--main-color);
  padding: 0.6rem;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 0.0625rem;
  border-color: var(--main-color);
}

#auto-complete>li:hover {
  background-color: #846cff;
  transition: background-color 0.3s ease-in-out;
  color: white;
  cursor: pointer;
}

#auto-complete>li:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-top-style: solid;
}

#auto-complete>li:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-style: solid;
}

.tags-box {
  flex: 1;
  border: 0.0625 solid #d8d8d8;
  border-radius: 1rem;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s ease-in-out;
  box-shadow: 0 0.1975rem 0.625rem rgb(0 0 0 / 0.2);
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow-x: scroll;

  margin: 0;
}


.tags-box #tag-input {
  display: flex;
  background-color: transparent;
  flex: 1;
  margin: 0.75rem 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  margin-right: 0.5rem;

}

/* ------------------ TICKET SIDEBAR ------------------ */

.manage-ticket {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.ticket-card.brief {
  margin: initial;
  padding: 0.2rem 1rem;
}

.ticket-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--main-color);
  align-items: center;
  justify-content: center;
}

.ticket-card h3 a,
.ticket-card h3 a:visited,
.ticket-card h3 a:hover,
.ticket-card h3 a:active {
  text-decoration: none;
  color: var(--main-color)
}

.ticket-card p {
  line-height: 1.7rem;
  word-break: break-word;
}

.id-tag {
  background-color: #ECECEC;
  border: 0.0625rem solid #7E7E7E;
  padding: 0.3rem 0.5rem;
  border-radius: 90rem;
  color: #202020;
  margin: 0 0.5rem;
}

.status-tag {
  background-color: #F0F9F2;
  border: 0.0625rem solid #6DC580;
  padding: 0.3rem 0.5rem;
  border-radius: 90rem;
  color: #03781D;
  margin: 0 0.5rem;
}

.priority-tag {
  background-color: #FFF3F3;
  border: 0.0625rem solid #E0B1B1;
  color: #A31717;
  padding: 0.3rem 0.5rem;
  border-radius: 90rem;
  margin: 0 0.5rem;

}

.date {
  color: #343434;
  font-weight: 400;
  margin: 0 0.5rem;
}

.ticket-info-sidebar {
  margin: 1.5rem auto;
  padding: 1rem 2rem;
  box-shadow: 0rem 0.3125rem 0.4375rem 0.3125rem rgb(0 0 0 / 10%);
  border-radius: 0.6rem;
}

.assigned-to {
  margin: 1.5rem auto;
  padding: 1rem 2rem;
  box-shadow: 0rem 0.3125rem 0.4375rem 0.3125rem rgb(0 0 0 / 10%);
  border-radius: 0.6rem;
}

.assigned-to p {
  align-items: center;
  justify-content: center;
}

.assigned-to a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 1rem;
}

.person-card {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

figure.avatar img {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
}

.profile-img {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  padding: 5%;
  object-fit: cover;
}

#ticket_form form {
  display: flex;
  flex-direction: column;
}

#ticket_form form .input {
  margin-bottom: 0.625;
}

.form {
  background-color: #ffffff;
  border-radius: 1.25rem;
  box-sizing: border-box;
  height: auto;
  padding: 1.25rem;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}

#create-form .title {
  color: #eee;
  font-size: 2.25rem;
  font-weight: 600;
  margin-top: 1.875rem;
}

.input-container {
  height: 3.5rem;
  position: relative;
  width: 100%;
  margin-top: 2rem;
}

.input-container:nth-child(2) {
  height: 10rem;
}

textarea {
  resize: none;
}

.input {
  position: relative;
  background-color: #ffffff;
  border-radius: 0.75rem;
  border: 0.0625rem solid #d8d8d8;
  box-sizing: border-box;
  color: #333;
  font-size: 1.2rem;
  height: 100%;
  outline: 0;
  padding: 1rem;
  width: 100%;
  transition: border 0.3s ease-in-out;
  box-shadow: 0 0.1875rem 0.625rem rgb(0 0 0 / 0.2);
  z-index: 2;
}

.input-tags {
  background-color: #ffffff;
  border-radius: 0.75rem;
  border: 0.0625rem solid #d8d8d8;
  box-sizing: border-box;
  color: #333;
  font-size: 1.2rem;
  height: 100%;
  outline: 0;

  width: 100%;
  transition: border 0.3s ease-in-out;
  box-shadow: 0 0.1875rem 0.625rem rgb(0 0 0 / 0.2);
}

.input-tags:hover,
.input-tags:focus {
  border: 0.0625rem solid var(--main-color);
}

.input:hover,
.input:focus {
  border: 0.0625rem solid var(--main-color);
}

.cut {
  z-index: 1;
  background-color: var(--main-color);
  color: transparent;
  border-radius: 0.625rem;
  height: 1.25rem;
  left: 1.25rem;
  position: absolute;
  top: 0%;
  transform: translateY(0);
  transition: transform 200ms;
  font-size: 0.7rem;
  padding: 0.12rem 0.5rem 0rem;
}

.cut-short {
  width: 3.125rem;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
  transform: translateY(-0.625rem);
  font-weight: 700;
  padding-right: 0.625rem;
  z-index: 2;
}

.placeholder {
  font-size: 1rem;
  color: #808097;
  left: 1.25rem;
  line-height: 0.875rem;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 1.25rem;
  z-index: 2;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
  transform: translateY(-1.6875rem) translateX(0.5rem) scale(0.75);
  z-index: 2;
  color: white;
}

.input:not(:placeholder-shown)~.placeholder {
  color: white;
}

.input:focus~.placeholder {
  font-weight: 700;
}

.submit {
  background-color: var(--main-color);
  border-radius: 0.75rem;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 1.125rem;
  height: 3.125rem;
  margin-top: 3rem;
  text-align: center;
  width: 100%;
  transition: scale 0.2s ease-in-out;
  box-shadow: 0 0.1875rem 0.625rem rgb(0 0 0 / 0.2);
}

.submit:hover,
.submit:active {
  scale: 0.99;
}